target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/
mvnw
mvnw.cmd
catalina.home_IS_UNDEFINED/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Maven ###
mvnw
mvn*
